    # dihedralType atmType1 atmType2 atmType3 atmType4 bondType1 bType2 bType3
    @/dihedral:ForceField/CCCC @/atom:ForceField/CA @/atom:ForceField/CA @/atom:ForceField/CA @/atom:ForceField/CA  @/bond:ForceField/* @/bond:ForceField/* @/bond:ForceField/*
    @/dihedral:ForceField/RCCR @/atom:ForceField/R  @/atom:ForceField/CA @/atom:ForceField/CA @/atom:ForceField/R   @/bond:ForceField/* @/bond:ForceField/* @/bond:ForceField/*
